body {
    color: #666666
}

strong {
    font-weight: bold;
}

/* header CSS */
.main-gnb-wrap {
    border-bottom: 1px solid #D83A49;
}
.main-gnb {
    max-width : 1462px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    margin:0 auto; /* 가운데 정렬 */
}

.onetech-logo {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    vertical-align: center;
    gap: 17px;
}


.onetech-logo-contents {
    align-self: stretch;
    letter-spacing: 20px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    .onetech-logo-title1 {
        letter-spacing: 4.9px;
    }
    .onetech-logo-title2 {
        font-weight: 400;
        letter-spacing: 0px;
    }

}

.menu-items {
    font-size: 18px;
    display: flex;
    width: 737px;
    align-items: center;
    gap: 89px;
    a {
        color: #666;
        text-decoration: none;
    }
}

.lang-selection {
    display:flex;
    gap: 10px;
    align-items: center;
    position: relative;

    > button:first-child {
        background: url('/images/lang-selection-arrow.svg') no-repeat 100% 50%;
        padding-right: 20px;
        border: none;
        cursor: pointer;
    }

    .lang-box {
        display: none;
        position: absolute;
        top:25px;
        left:0;
        border: 1px solid #939683;
        padding : 10px;
        background-color: #FFFFFF;
        z-index: 10;
        &.active {
            display: block;
        }


        button {
            padding: 0;
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}



/* main banner */
.main-banner {
    height: 774px;
    p {
        color: #FFFFFF;
        font-size: 32px;
        padding: 10px 0px;
    }
    > div {
        position: relative;
        max-width: 1462px;
        margin: 0 auto;
        height: 100%;
        > div {
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
        }
    }
}

/* 회사 소개 */
.company-intro-section {
    max-width: 1462px;
    flex-direction: column;
    align-items: flex-end;
    gap: 83px;
    margin: 0 auto;
    padding: 0 20px;

    .company-intro-title {
        margin-top: 170px;
        > h1 {
            color:#666666;
            font-size:36px;
            font-weight: 600;
            text-align: center;
        }
        > h2 {
            color:#666666;
            text-align: center;
        }
        > hr {
            border: none; /* 기본 테두리 제거 */
            border-top: 3px solid #D83A49; /* 상단에만 선 추가 */
            width: 25px; /* 라인 너비 */
            margin: 20px auto;

        }
    }

    .company-intro {
        margin-top:80px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 15px 83px;

        .company-intro-image {
            width: 50%;
            img {
                width: 100%;
                height: auto;
            }
        }

        .company-intro-contents {
            width: 50%;
            color: #666;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;

            p {
                margin-top: 10px;
            }

        }

    }
}


/* Company History */
.company-history-section {
    max-width: 1462px;
    flex-direction: column;
    align-items: flex-end;
    gap: 83px;
    margin: 0 auto;
    padding: 0 20px;

    .company-history-title {
        margin-top: 230px;
        > h1 {
            color:#666666;
            font-size:36px;
            font-weight: 600;
            text-align: center;
        }
        > h2 {
            color:#666666;
            text-align: center;
        }
        > hr {
            border: none; /* 기본 테두리 제거 */
            border-top: 3px solid #D83A49; /* 상단에만 선 추가 */
            width: 25px; /* 라인 너비 */
            margin: 20px auto;

        }
    }
}

.company-history-section .company-history-wrap {
    margin-top: 80px;
    display: flex;
    gap: 80px;

    .company-history-image {
        width: 50%;
        background: url('/images/company-history.png') no-repeat;
        background-size: 100% auto; // Div에 이미지 처리시에는 백그라운드 사이즈를 조정해야 함.
        height: 100%;
        position: relative;
        aspect-ratio: 705 / 380; // 이미지 비율을 Tag 비율과 맞추도록 설정
        > div {
            transform: translate(50px, 60%); // Div 백그라운드 이미지 위에 글자 위치를 반응형으로 처리하기 위한 비율 설정
            width: calc(100% - 60px);
            height: 100%;
        }

        p {
            color: #FFFFFF;
            font-size: 24px;
            &:last-child {
                margin-top: 15px;
                font-weight: bold;
            }
        }
    }

    .company-history-contents {
        width: 50%;
        p {
            padding-left: 25px;
            background: url('/images/history-circle-icon.png') no-repeat 0 5px;
            font-size: 20px;
            color: #333333;
            font-weight: 700;
        }

        .history-monthly-content {
            margin-top: 17px;
        }

        li {
            margin-top: 50px;

            &:first-child {
                margin-top: 0px;
            }
        }

        .history-monthly-content li {
            margin-top: 15px;
            height: 13px;
        }

        span {
            color: #D83A49;
            font-size: 16px;
            font-weight: bold;
            padding-left:25px;
            padding-right:13px;
        }
    }


}

/* company business division section */
.company-business-division-section {
    max-width: 1462px;
    flex-direction: column;
    align-items: flex-end;
    gap: 83px;
    margin: 0 auto;
    padding: 0 20px;

    .company-business-division-title {
        margin-top: 230px;
        > h1 {
            color:#666666;
            font-size:36px;
            font-weight: 600;
            text-align: center;
        }
        > h2 {
            color:#666666;
            text-align: center;
        }
        > hr {
            border: none; /* 기본 테두리 제거 */
            border-top: 3px solid #D83A49; /* 상단에만 선 추가 */
            width: 25px; /* 라인 너비 */
            margin: 20px auto;

        }
    }

    .company-business-division-container {
        margin-top: 80px;

        .company-business-division-contents {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;

            div:nth-child(1) {
                width:30%;
            }

            div:nth-child(2) {
                width:30%;
            }

            div:nth-child(3) {
                width:40%;

                img {
                    width: 100%;
                }
            }

            p {
                font-size: 24px;
                font-weight: 700;
            }

            li {
                font-size: 20px;
                line-height: 32px;
                cursor: pointer;
                &.active {
                    color: #D83A49;
                }
            }
        }
    }
}

/* 장비 제조 기술 */
.equipment-manufacturing-section {
    max-width: 1462px;
    flex-direction: column;
    align-items: flex-end;
    gap: 83px;
    margin: 0 auto;
    padding: 0 20px;

    .equipment-manufacturing-title {
        margin-top: 230px;
        > h1 {
            color:#666666;
            font-size:36px;
            font-weight: 600;
            text-align: center;
        }
        > h2 {
            color:#666666;
            text-align: center;
        }
        > hr {
            border: none; /* 기본 테두리 제거 */
            border-top: 3px solid #D83A49; /* 상단에만 선 추가 */
            width: 25px; /* 라인 너비 */
            margin: 20px auto;

        }
    }

    .equipment-container {
        max-width: 1462px;
        display:flex;
        margin-top: 80px;
        button {
            margin:15px;
            padding:30px;
            background-color: #DDdddd;
            width: 90%;
            border: none;
            font-size: 16px;
            &.active {
                background-color: #D83A49;
                color: #FFFFFF;
                font-size: 18px;
                font-weight: 700;
            }
        }
        .equipment-tab1 {
            width: 50%;
            border: 1px solid #eeeeee;
            text-align: center;
        }
        .equipment-tab2 {
            width: 50%;
            border-top: 1px solid #eeeeee;
            border-bottom: 1px solid #eeeeee;
            border-right: 1px solid #eeeeee;
            text-align: center;
        }
    }
}

/* Equipment Manufacturing PDV*/
.pvd-wrap {
    margin: 0 40px;
    .pvd-container {
        display: flex;
        justify-content: space-between;
    }
    .pvd-equipments {
        width: 32%;
        p {
            text-align: center;
            margin: 15px 0;
        }
        img {
            width: 100%;
        }

        .header {
            width: 32%;
            padding: 15px 25px;
            //border-top: 1px solid #D71818;
            border-bottom: 1px solid #D71818;
            text-align: center;
            font-weight: 600;
        }

        .cell-content1 {
            font-size: 14px;
            padding: 15px;
            background: #EEEEEE;
            border-bottom: 1px solid #d9d9d9;
        }

        .cell-content2 {
            font-size: 13px;
            padding: 10px 25px;
            border-bottom: 1px solid #d9d9d9;
        }



        .equipment-process {

            padding: 10px 0;
            font-size: 18px;
            font-weight: 600;
        }

        ul {
            line-height: 24px;
        }
    }

    .pvd-title {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 20px;
        color: #333333;
    }
}

/* facilities */
.facilites-section {
    width: 1462px;
    flex-direction: column;
    align-items: flex-end;
    gap: 83px;
    margin: 0 auto;


}

.facilites-section .facilities-title {
    margin-top: 230px;

    > h1 {
        color: #666666;
        font-size: 36px;
        font-weight: 600;
        text-align: center;
    }

    > h2 {
        color: #666666;
        text-align: center;
    }

    > hr {
        border: none; /* 기본 테두리 제거 */
        border-top: 3px solid #D83A49; /* 상단에만 선 추가 */
        width: 25px; /* 라인 너비 */
        margin: 20px auto;

    }
}

/* blog section */
.blog-section {
    max-width: 1462px;
    flex-direction: column;
    align-items: flex-end;
    gap: 83px;
    margin: 0 auto;
    padding: 0 20px;

    .blog-header-title {
        margin-top: 230px;

        > h1 {
            border-color: #333333;
            font-size: 36px;
            font-weight: 600;
            text-align: center;
        }

        > h2 {
            color: #666666;
            text-align: center;
        }

        > hr {
            border: none; /* 기본 테두리 제거 */
            border-top: 3px solid #D83A49; /* 상단에만 선 추가 */
            width: 25px; /* 라인 너비 */
            margin: 20px auto;

        }
    }

    .blog-container {

        max-width : 1462px;
        margin: 0 auto;

        .blog-header {
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #eeeeee;
            padding-bottom: 30px;
        }

    }

    .blog-lists {

        .blog-items {
            display: flex;
            justify-content: end;
        }
        .blog-item-container {
            padding: 50px 0;
            width: 961px;
            border-bottom: 1px solid #eeeeee;

            a {
                text-decoration: none;
                color : #D83A49;
            }

        }

        .blog-content {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin: 0 auto;
        }

        .blog-title {
            p {
                font-size: 32px;
                font-weight: 700;
                &:first-child {
                    font-size: 12px;
                    font-weight: 300;
                }
                &:nth-child(3) {
                    margin-top: 130px;
                }

            }
        }

        .blog-image {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

/* Contact section */
.contact-section {
    max-width: 1462px;
    flex-direction: column;
    align-items: flex-end;
    gap: 83px;
    margin: 0 auto;
    padding: 0 20px;

    .contact-header-title {
        margin-top: 230px;

        > h1 {
            border-color: #333333;
            font-size: 36px;
            font-weight: 600;
            text-align: center;
        }

        > h2 {
            color: #666666;
            text-align: center;
        }

        > hr {
            border: none; /* 기본 테두리 제거 */
            border-top: 3px solid #D83A49; /* 상단에만 선 추가 */
            width: 25px; /* 라인 너비 */
            margin: 20px auto;

        }
    }
}

.contact-section .contact-wrap {
    margin-top: 80px;
    .contact-wrap-title {
        p {
            &:first-child {
                font-size: 32px;
                font-weight: 700;
                color: #333333;
            }
            &:last-child {
                margin-top: 15px;
                font-size: 16px;
                color: #D83A49;
            }
        }
    }

    form {
        margin-top: 125px;
        fieldset {
            legend {
                color: #000;
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 40px;
                span {
                    color: #BD0200;
                }
            }
            &.customer-info {
                margin-bottom: 125px;
                > div {
                    display: flex;
                    gap: 30px 2%;
                    flex-wrap: wrap;
                    > div {
                        width: 23%;
                        label {
                            color: #555;
                            display: block;
                            font-size: 24px;
                            font-weight: 600;
                            margin-bottom: 20px;
                        }
                        input {
                            font-size: 18px;
                            color: #555;
                            font-weight: 400;
                            outline: none;
                            border: none;
                            border-bottom: 2px solid #ddd;
                            padding: 12px 0;
                            width: 100%;
                            &::placeholder {
                                font-size: 18px;
                                color: #e5e5e5
                            }
                        }
                    }
                }
            }
            &.service-info {
                margin-bottom: 125px;
                > div {
                    display: flex;
                    gap: 30px 30px;
                    flex-wrap: wrap;
                    label {
                        span {
                            color: #555;
                            font-size: 24px;
                            font-weight: 600;
                        }
                        input {
                            margin-right: 10px;
                            vertical-align: top;
                        }
                    }
                }
            }
            &.inquiry-detail {
                margin-bottom: 125px;
                .text-box {
                    margin-bottom: 30px;
                    input {
                        font-size: 20px;
                        font-weight: 500;
                        color: #555;
                        line-height: 34px;
                        margin-bottom: 15px;
                        outline: none;
                        padding: 0 20px;
                        box-sizing: border-box;
                        width: 100%;
                        border: 1px solid #ddd;
                        height: 74px;
                        border-radius: 5px;
                        ::placeholder {
                            font-size: 20px;
                            line-height: 34px;
                            font-weight: 500;
                            color: #999
                        }
                    }
                    textarea {
                        font-size: 20px;
                        color: #555;
                        line-height: 34px;
                        margin-bottom: 15px;
                        outline: none;
                        padding: 20px;
                        box-sizing: border-box;
                        width: 100%;
                        border: 1px solid #ddd;
                        height: 300px;
                        border-radius: 5px;
                        ::placeholder {
                            font-size: 20px;
                            color: #999
                        }
                    }
                }
                .file-box {
                    position: relative;
                    border-bottom: 1px solid #ddd;
                    > p {
                        margin-bottom: 15px;
                        font-size: 25px;
                        font-weight: 700;
                        color: #555;
                        display: block;
                    }
                    .uploadNameBox {
                        width: 325px;
                        height: 47px;
                        position: relative;
                        .uploadName {
                            vertical-align: middle;
                            border: none;
                            width: 300px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            outline: none;
                            padding: 13px 0;
                            font-size: 18px;
                            font-weight: 400;
                            color: #555;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                        }
                    }
                    input[type="file"] {
                        position: absolute;
                        width: 0;
                        height: 0;
                        padding: 0;
                        overflow: hidden;
                        border: 0;
                    }
                    label {
                        position: absolute;
                        width: 100%;
                        left: 0;
                        bottom: 0;
                        font-size: 18px;
                        font-weight: 400;
                        color: #999;
                        height: 47px;
                        line-height: 47px;
                        text-align: right;
                        vertical-align: middle;
                        cursor: pointer;
                    }
                }
            }
            &.agree {
                margin-bottom: 40px;
                padding-left: 40px;
                position: relative;
                label {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 600;
                    color: #444;
                    display: block;
                    margin-bottom: 20px;
                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                div {
                    color: #666;
                    line-height: 30px;
                }
            }
        }
        .submit {
            text-align: left;
            > button {
                border:none;
                padding: 10px 30px;
                color: #fff;
                font-size: 24px;
                background-color: #BD0200;
                border-radius: 10px;
            }
        }
    }


}

/* footer */
.footer-wrap {
    background-color: #939683;
    //height: 598px;
    margin-top: 200px;
    width: 100%;

    .footer-container {
        max-width: 1462px;
        justify-content: space-between;
        margin: 0 auto;
        padding: 80px 20px 0;
        display: flex; /* 다음 Div 가로 정렬 */
        flex-wrap: wrap;


        .footer-logo {
            display: flex;
            gap: 0 20px;
            align-items: center;
            p {
                color: #fff;
                font-weight: 300;
                &:last-child {
                    padding-top: 5px;
                    font-weight: bold;
                }
            }
        }

        .footer-column-content {
            p {
                color: #fff;
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
                width: 312px;
                padding-top: 15px;

            }
        }



        #content2 {
            color:#FFFFFF;
            div {
                text-align: left;
            }
            > div > p {
                padding-bottom:12px;
                position: relative;
                &:after {
                    content:"";
                    display: block;
                    height: 2px;
                    width: 50px;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    background-color: #e3e3e3;
                }
            }

            hr {
                width: 50px;
                margin: 0;
                height: 3px;
                border: none;
                background-color: #b5b5b5;
            }
            .contact-item {
                display: flex;
                margin-top: 30px;
                height: 74px;
                .contact-image {
                    padding-right: 20px;
                }
                .contact-info {
                    line-height: 24px;
                }
            }

        }

        #content3 {
            color: #FFFFFF;
            padding-right: 150px;

            .quick-links {
                p {
                    &:first-child {
                        padding-top:30px;
                    }
                    padding-top: 15px;
                }
                a {
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }
        }

    }

    .footer-copyright-line {
        margin-top:80px;
        hr {
            height: 1px;
            border: none;
            background-color: #b5b5b5;
        }

        p {
            padding-top: 30px;
            text-align: center;
            color: #FFFFFF;
            font-size:14px;
            font-weight: 200;
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-items {
        display: none;
    }
    .company-intro-section .company-intro {
        margin-top:80px;
        flex-wrap: wrap;

        .company-intro-image {
            width: 100%;
        }

        .company-intro-contents {
            width: 100%;
        }


    }

}

@media screen and (max-width: 767px) {
    .menu-items {
        display: none;
    }
    .company-intro-section .company-intro {
        margin-top:80px;
        flex-wrap: wrap;

        .company-intro-image {
            width: 100%;
        }

        .company-intro-contents {
            width: 100%;
        }
    }

    .company-history-section .company-history-wrap {
        margin-top: 80px;
        flex-wrap: wrap;
        gap: 80px;

        .company-history-image {
            width: 100%;
        }

        .company-history-contents {
            width: 100%;
        }
    }

    .company-business-division-section {

        .company-business-division-container {
            margin-top: 80px;

            .company-business-division-contents {
                margin-top: 60px;
                display: block;

                p {
                    font-size: 20px;
                    font-weight: 500;
                    padding: 15px 0;
                }

                li {
                    font-size: 20px;
                    line-height: 32px;
                }

                img {
                    width: 100%;
                }

            }
        }
    }

    /* 장비 제조 기술 */
    .equipment-manufacturing-section {

        .equipment-container {
            button {
                font-size: 16px;
                &.active {
                    font-size: 16px;
                    font-weight: 400;
                }
            }

        }
    }

    /* Equipment Manufacturing PDV*/
    .pvd-wrap {

        .pvd-container {
            display: block;
        }
        .pvd-equipments {
            width: auto;
            margin-bottom: 50px;
        }

    }

    /* blog section */
    .blog-section {

        .blog-container {


            .blog-header {
                display: block;
            }

            .blog-lists {

                .blog-items {
                    display: flex;
                    justify-content: end;
                }
                .blog-item-container {
                    padding: 50px 0;
                    width: 961px;
                    border-bottom: 1px solid #eeeeee;

                }

                .blog-content {
                    flex-wrap: wrap;
                }

                .blog-title {
                    width: 100%;
                }

                .blog-image {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

        }

    }

    .contact-section .contact-wrap {
        margin-top: 80px;
        .contact-wrap-title {
            p {
                &:first-child {
                    font-size: 28spx;
                    font-weight: 700;
                    color: #333333;
                }
                &:last-child {
                    margin-top: 15px;
                    font-size: 16px;
                    color: #D83A49;
                }
            }
        }

        form {
            margin-top: 30px;
            fieldset {
                legend {
                    color: #000;
                    font-size: 24px;
                    font-weight: 600;
                    //margin-bottom: 20px;
                    span {
                        color: #BD0200;
                    }
                }
                &.customer-info {
                    margin-bottom: 80px;
                    > div {
                        gap: 30px 2%;
                        display: block;
                        > div {
                            width: 100%;
                            label {
                                color: #555;
                                display: block;
                                font-size: 18px;
                                font-weight: 400;
                                margin-bottom: 10px;
                            }
                            input {
                                margin-bottom: 25px;
                                width: 100%;
                            }
                        }
                    }
                }
                &.service-info {
                    display: block;
                    margin-bottom: 80px;

                }
                &.inquiry-detail {
                    margin-bottom: 80px;

                }
                &.agree {
                    margin-bottom: 80px;
                }

            }

        }

    }

}




/* Blog detail */
.blog-detail {
    padding: 230px 0 150px;
    > .content-detail {
        max-width: 1000px;
        margin: 0 auto;
        .content-detail-header {
            border-bottom: 1px solid #eee;
            margin-bottom: 55px;
            .category {
                font-size: 18px;
                margin-bottom: 10px
            }
            h3 {
                font-size: 48px;
                font-weight: 600;
                color: #333;
                line-height: 60px;
                margin-bottom: 15px;
            }
            .date {
                font-size: 18px;
                line-height: 24px;
                color: #999;
                margin-bottom: 25px;
                font-weight: 600;
            }
        }
        .detail {
            padding-bottom: 65px;
        }
        .title-list {
            margin-bottom: 25px;
            > div {
                padding: 35px 50px;
                box-sizing: border-box;
                span {
                    padding-left: 20px;
                    margin-right: 50px;
                }
                a {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #666;
                }
                &:first-child {
                    display: flex;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    span {
                        background: url("/images/common/sub/blog_view_arrow_up.png") no-repeat 0 50%;
                    }
                }
                &:last-child {
                    display: flex;
                    border-bottom: 1px solid #666;
                    span {
                        background: url("/images/common/sub/blog_view_arrow_down.png") no-repeat 0 50%;
                    }
                }
            }
        }
        .btn-box {
            display: flex;
            justify-content: center;
            button {
                border: none;
                padding: 10px 25px;
                font-size: 17px;
                color: #fff;
                font-weight: 400;
                background-color: #444;
                border-radius: 5px;
            }
        }
    }
}



/* 모바일메뉴 */
.menu-button {
    display: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    .bar {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin-top:5px;
        border-radius: 3px;
        &:first-child {
            margin-top: 0;
        }
    }
}
nav.mobile-menu {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 30;
    &.on {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s, visibility 0s;
    }
    .nav-header {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        width: 320px;
        align-items: center;
        padding: 10px 10px 30px;
        box-sizing: border-box;
        button {
            padding: 0;
            border: none;
            cursor: pointer;
            background: none;
            display:inline-block;*display:inline;
            &:after {
                display: inline-block;
                content: "\00d7";
                font-size: 50px;
            }
        }
    }

    > ul {
        width: 320px;
        height: 100%;
        background-color: #fff;
        border-top: 1px solid #ddd;
        > li {
            border-bottom: 1px solid #ddd;
            > a {
                display: block;
                padding: 20px 20px;
                font-size: 20px;
                color: #555;
                text-decoration: none;
            }
            > button {
                position: relative;
                background: none;
                border: none;
                line-height: 100%;
                width: 100%;
                text-align: left;
                &:after {
                    position: absolute;
                    right: 23px;
                    top: 19px;
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-top: 3px solid #000;
                    border-right: 3px solid #000;
                    transform: rotate(135deg);
                }
            }
            > ul {
                max-height: 0;
                padding-bottom: 0;
                overflow: hidden;
                > li {
                    > a {
                        display: block;
                        padding: 10px 20px;
                        color: #555;
                    }
                }
            }
            &.on {
                > button {
                    &:after {
                        top: 28px;
                        transform: rotate(-45deg);
                    }
                }
                > ul {
                    max-height: 400px;
                    padding-bottom: 10px;
                    transition: max-height 1s ease-in-out;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-button {
        display: block;
    }
}
@media screen and (max-width: 767px) {
    .menu-button {
        display: block;
    }
    .onetech-logo-contents {
        display: none;
    }

    .company-history-section .company-history-wrap .company-history-contents .history-monthly-content li {
        padding-left: 25px;
        margin-top: 20px;
        height: auto;
    }
    .company-history-section .company-history-wrap .company-history-contents span {
        display: block;
        padding-left: 0;
        margin-bottom: 5px;
    }
    .pvd-wrap {
        margin: 0;
    }


    .company-business-division-section .company-business-division-container .company-business-division-contents div:nth-child(1),
    .company-business-division-section .company-business-division-container .company-business-division-contents div:nth-child(2),
    .company-business-division-section .company-business-division-container .company-business-division-contents div:nth-child(3) {
        width: auto;
    }
}


.MuiPagination-ul {
    margin-top: 100px !important;
    justify-content: center;
}
